# ─── Neo Object Storage (NOS) - S3 Compatible ────────────────────────────────
# Salin file ini menjadi .env lalu isi dengan kredensial asli kamu
# JANGAN commit file .env ke GitHub!

AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=idn
AWS_BUCKET=playwright-report
AWS_ENDPOINT=https://nos.jkt-1.neo.id
AWS_URL=https://nos.jkt-1.neo.id/playwright-report
AWS_USE_PATH_STYLE_ENDPOINT=true
